@import url(/assets/font.css);
.menu {
    width: 1440px;
    height: 1042px;
}

.container-cima {
    display: inline-flex;
    width: 100%;
    height: 54px;
    gap: 32px;
    padding: 0px, 24px, 0px, 24px;
    border: 2px;
    flex-direction: row;
    justify-content: space-between;
}
.container-cima .parte-esquerda {
    width: 144px;
    height: 24px;
    margin: 0px;
    flex-direction: row;
    display: inline-flex;
    text-align: center;
    padding: 0px, 24px, 0px, 24px;
}
.parte-esquerda #Youtube{
    width: 90px;
    height: 20px;
    Top: 18px;
    left: 80px;
}
.parte-esquerda #Tracinhos{
    width: 24px;
    height: 24px;
}
.barra-de-pesquisa{
    height: 44px;
    width: 404px;
    top:8px;
    left:526px;
    display: inline-flex;
    flex-direction: row;
    text-align: center;
}
#barra-pesquisa {
    width: 270px;
    height: 25px;
    top: 8px;
    left: 526px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}
#botão-pesquisa{
   width: 16px;
   height: 16px;
   align-self:center;
   margin: auto;
}
#caixa-pesquisa{
    width: 40px;
    height: 25px;
    top: 8px;
    left: 873px;
    border: 1px solid;
    box-sizing: border-box;
    color: #CCCCCC;
    background: linear-gradient(rgba(204, 204, 204, 1) ,rgba(248, 248, 248, 1));
}
.parte-direita{
    display: inline-flex;
    flex-direction: row;
    width: 100px;
    height: 34px;
    top: 11px;
    left: 1286px;
    gap: 5px;
    margin: 0px 0px;
    justify-content: space-between;
    
}
#icone-de-video{
        width: 24px;
        height: 24px;
        top: 5px;
}
#sininho {
    width: 24px;
    height: 24px;
    top: 5px;
}
#foto-do-perfil {
    width: 24px;
    height: 24px;
    top: 5px;
    left: 96px;
    background-image: url(images/EU\ PORRA.jpg);
    border-radius: 50%;
    overflow: hidden;
}
.eu{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-principal{
    width: 1020px;
    height: 600px;
    top: 84px;
    left: 75px;
    gap: 16px;
    border: 1px ;
    margin-left: 56px;
    
}
.video{
    width: 952px;
    height: 450px;
    border: 1px solid blue;
    
}
.features{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px;
    border: 1px;
    width: 902px;
    height: auto;
    left: 592px;
}
.descrição{
    font-style: 'bold';
    font-size: 15px;
    color:black;
    font-weight:900;
    text-align: justify;
}
.canal-inscritos{
    width: 160px;
    height: 30px;
    gap: 12px;
    display: inline-flex;
    justify-content: flex-start;
}
#texto{
    word-wrap: normal;
    font-size: 14px;
    font-weight: bold;
    font-display:initial;
    align-self: center;
    margin-left: 0px;
}
#channel-avatar{
    width: 30px;
}
.inscreva-se{
    width: 160px;
    height: 30px;
    border: 2px solid red;
    background-color: red;
    border-radius: 5%;
}
.texto-inscrevase{
    font-family: 'roboto';
    font-weight: 600;
    font-size: 14px;
    align-self: center;
    color: white;
    margin: 5px;
    padding-left: 40px;
}
#likes-img {
    margin: 5px;
    top: 10px;
    left: 5px;
    height: 20px;
    align-self: flex-end;
}
#texto-likes {
font-size: 14px;
font-weight: 900;
margin: 8px;
}

.like {
    display:  inline-flex;
    gap: 0px;
}
.likes {
    display: inline-flex;
    flex-direction: row;
    margin: 1px;
    margin-left: 0px;
}

#dislikes-img {
    margin: 5px;
    top: 10px;
    left: 5px;
    height: 20px;
    align-self: flex-end;
}
#texto-dislikes {
font-size: 14px;
font-weight: 900;
margin: 8px;
}

.dislike {
    display:  inline-flex;
    gap: 0px;
}
.dislikes {
    display: inline-flex;
    flex-direction: row;
    margin: 1px;
    margin-left: 0px;
}
#share-img {
    margin: 5px;
    top: 10px;
    left: 5px;
    height: 20px;
    align-self: flex-end;
}
#texto-share {
font-size: 14px;
font-weight: 900;
margin: 8px;
}

.share {
    display:  inline-flex;
    gap: 0px;
}
.shares {
    display: inline-flex;
    flex-direction: row;
    margin: 1px;
    margin-left: 0px;
}

#dowload-img {
    margin: 5px;
    top: 10px;
    left: 5px;
    height: 20px;
    align-self: flex-end;
}
#texto-dowload {
font-size: 14px;
font-weight: 900;
margin: 8px;
}

.dowload {
    display:  inline-flex;
    gap: 0px;
}
.dowloads {
    display: inline-flex;
    flex-direction: row;
    margin: 1px;
    margin-left: 0px;
}
.desc-visualizações {
    font-style: 'bold';
    font-size: 10px;
    color:black;
    font-weight:900;
    text-align: justify;
}
.desc-tema {
    text-align:left;
    font-size: 10px;
    font-style:'bold';
    font-weight: 600;
}

.sidebar {
width: 160px;
height: 938px;
gap: 15px;
margin-left: 10px;
margin-top:0px;
flex-direction: column;
column-gap: 3px;
}
.container-geral {
    display:inline-flex;
}

#video-1 {
    height:fit-content;
}

.texto-video {
    font-size: 10px;    
}
#video-2 {
    height:fit-content;
}
#video-3 {
    height:fit-content;
}
#video-4 {
    height:fit-content;
}
#video-5 {
    height:fit-content;
}
#video-6 {
    height:fit-content;
}
#video-7 {
    height:fit-content;
}

.barra-lateral {
    width: 200px;
    margin-left: 10px;
    column-gap: 15px;
    justify-content: baseline;
}

#texto-video-2 {
height: 80px;
width: 150px;
margin-left: 0px;
margin-top: 10px;
gap: 10px;

}
#texto-video-3{
    height: 80px;
width: 150px;
margin-left: 0px;
margin-top: 10px;
gap: 10px;
}
#texto-video-4{
    height: 85px;
width: 150px;
margin-left: 0px;
margin-top: 10px;
gap: 10px;
}
#texto-video-5{
    height: 85px;
width: 150px;
margin-left: 0px;
margin-top: 10px;
gap: 10px;
}
#texto-video-6{
    height: 80px;
width: 150px;
margin-left: 0px;
margin-top: 10px;
gap: 10px;
}
#texto-video-7{
    height: 80px;
width: 150px;
margin-left: 0px;
margin-top: 10px;
gap: 10px;
}
#texto-video-1 {
    height: 75px;
}
